In [11]:
def bmi_in(w, h):
  bmi = w / h ** 2
  return bmi

# 사용 예시:
# 체중 70kg, 신장 1.75m 인 경우
# calculated_bmi = bmi(70, 1.75)
# print(f"BMI 지수: {calculated_bmi:.2f}")

In [13]:
h=135
w=43.01
bmi=bmi_in(w, h)
print(bmi)

0.0023599451303155006

In [29]:
weight = float(input())
height = float(input())


bmi_value = weight / (height ** 2)

return(round(bmi_value, 2))

In [27]:
def bmi_in(w, h):
  bmi = w / h ** 2
  return bmi

In [33]:
def calculate_bmi(weight, height):

  bmi_value = weight / (height ** 2)
  return bmi_value

In [34]:
  weight=58
  height=1.58
  print(bmi_value)

18.02595737862522

In [35]:
email = "user@example.com"
username, domain = email.split("@")
print(f"사용자명: {username}, 도메인: {domain}")

사용자명: user, 도메인: example.com

In [37]:
csv_data = "김철수,30,서울,개발자"
data_list = csv_data.split(",")
print(f"분리된 데이터: {data_list}")

분리된 데이터: ['김철수', '30', '서울', '개발자']

In [38]:
folders = ["home", "user", "documents", "project"]
path = "/".join(folders)
print(f"경로: {path}")

경로: home/user/documents/project

In [39]:
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(f"문장: {sentence}")

문장: Python is awesome

In [40]:
multiples_of_3 = [x for x in range(1, 21) if x % 3 == 0]
print(f"3의 배수: {multiples_of_3}")

3의 배수: [3, 6, 9, 12, 15, 18]

In [43]:
scores = [95, 87, 92, 88]
print("성적 순위:")
for rank, score in enumerate(scores, start=1):
  print(f" {rank}등: {score}점")

성적 순위:
 1등: 95점
 2등: 87점
 3등: 92점
 4등: 88점

In [44]:
keys = ["name", "age", "city"]
values = ["홍길동", 25, "부산"]
person_dict = dict(zip(keys, values))
print(f"\n딕셔너리: {person_dict}")

딕셔너리: {'name': '홍길동', 'age': 25, 'city': '부산'}

In [45]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: c * 9/5 + 32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [46]:
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive = list(filter(lambda x: x > 0, numbers))
print(f"양수만: {positive}")

양수만: [3, 8, 7]